# Application
PORT=3000

# Docker Database Connection (Use localhost if running node locally instead of via docker-compose)
DATABASE_URL=postgres://postgres:2468@postgres:5432/commerce_dev
REDIS_URL=redis://redis:6379

# JWT Secrets
JWT_ACCESS_SECRET=super_secret_access_key_dev
JWT_REFRESH_SECRET=super_secret_refresh_key_dev
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
